extends layouts/main
include mixins/videoPlayer

block content
    .video-detail
        +videoPlayer({
            src:video.fileUrl
        })
        .video-detail__content
            h5.video-detail__title=video.title
            if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id)).video__edit Edit video
            i.fas.fa-play
                span.video__views=video.views
            p.video-detail__description=video.description
            .video-detail__author
                |Uploaded by
                a(href=routes.userDetail(video.creator._id))=video.creator.name
        .video-detail__comments
            if video.comments.length === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views