header.header
    .header__column
        a(href=routes.home)
            i.fas.fa-paw.fa-2x
            span #{siteName}
    .header__column
        form(action=routes.search, method="get")
            button(src="button")
                i.fas.fa-search
            input(type="text", placeholder="Search", name="term")
    .header__column
        ul
            if !loggedUser
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Log In
            else
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.me) Profile
                li
                    a(href=routes.logout) Log Out
